.Head {
  margin-top: 15px;
  margin-bottom: 10px;
}

.Label {
  margin-right: 600px;
}

.BtnPrimary {
  background: orangered;
  border-radius: 20px;
  border-color: orangered;
  width: 100px;
}

.BtnPrimary:hover {
  background: orangered;
  border-color: orangered;
}

.BtnPrimary:focus {
  background: orangered;
  border-color: orangered;
}

@media screen and (max-width: 425px) {
  .Label {
    margin-right: 300px;
  } 
  .Input {
    width: 100% !important;
  }
}