.Head {
  margin-top: 15px;
  margin-bottom: 10px;
}

.Label {
  margin-right: 300px;
}

.AddAddress {
  width: 710px;
  height: 86px;
  border: 2px dashed gray;
  cursor: pointer;
  margin-bottom: 40px;
}

.AddressWrapper {
  padding: 10px;
  width: 710px;
  height: auto;
  border: 2px solid orangered;
  cursor: pointer;
  margin-bottom: 15px;
}

.BtnPrimary {
  background: orangered;
  border-color: orangered;
  border-radius: 20px;
}

.BtnPrimary:hover {
  background: orangered;
  border-color: orangered;
}

.BtnPrimary:focus {
  background: orangered;
  border-color: orangered;
}

.BtnSecondary {
  border-radius: 20px;
}

@media screen and (max-width: 425px) {
  .Label {
    margin-right: 300px;
  } 
  .Input {
    width: 100% !important;
  }
  .AddAddress {
    width: 100%;
  } 
  .AddressWrapper {
    width: 100%;
  }
}